<div class="container p-3 border border-secondary">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <button
          type="button"
          (click)="openDialog()"
          class="btn btn-primary mx-2"
        >
          New
        </button>
        <button
          type="button"
          (click)="exportCsv()"
          class="btn btn-primary mx-2"
        >
          Export
        </button>
      </div>
    </div>
    <br />
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="inputKeyword"
            class="form-control"
            placeholder="Enter shared key"
            (keyup)="searchKeyword()"
          />
          <button type="button" class="btn btn-primary mx-2">Search</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-3 border border-secondary">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
      <ng-container matColumnDef="sharedKey">
        <th mat-header-cell *matHeaderCellDef>Shared Key</th>
        <td mat-cell *matCellDef="let element">{{ element.sharedKey }}</td>
      </ng-container>

      <ng-container matColumnDef="businessId">
        <th mat-header-cell *matHeaderCellDef>Business ID</th>
        <td mat-cell *matCellDef="let element">{{ element.businessId }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="dataAdded">
        <th mat-header-cell *matHeaderCellDef>Data Added</th>
        <td mat-cell *matCellDef="let element">{{ element.dataAdded }}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon fontIcon="edit"></mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
